# Pandas

Pandas is an open-source software library built on python for data analysis and data manipulation.
Pandas library provides data structure designed specifically to handle tabular dataset with simplified python API.
- To preocess and manipulate tabular data, implementing operation such as a loading, aligning, merging, and transforming data set.

Pandas is a python library used to:
- work with tables of data.
- Read CSV/Excel files.
- Clean, analyze and manipulate data easily.

In [3]:
!pip  install pandas

Requirement already satisfied: pandas in c:\users\abhin\onedrive\desktop\programs\ai_ml\venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abhin\onedrive\desktop\programs\ai_ml\venv\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abhin\onedrive\desktop\programs\ai_ml\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhin\onedrive\desktop\programs\ai_ml\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abhin\onedrive\desktop\programs\ai_ml\venv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\abhin\onedrive\desktop\programs\ai_ml\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas
print(pandas.__version__)

2.3.3

# Series

In [5]:
# Series is a similar to a column in a table.

import pandas as pd

data = [10,4,7,3]
series = pd.Series(data)
print("Series\n", series)
print(type(series))

Series
 0    10
1     4
2     7
3     3
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
#dictionary series

dict = {'a': 1, 'b' : 2, 'c' : 3}
series_dict = pd.Series(dict)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [7]:
# DataFrame
## creating a dataframe from a dictionary of list

data = {
    'Name' : ['Abhishek', 'Ansh', 'Priyanshu'],
    'Age' : [22, 23, 21],
    'City' : ['Aligarh', 'Delhi', 'Ghaziabad']
}
df = pd.DataFrame(data)
print(df)
print(type(df))

        Name  Age       City
0   Abhishek   22    Aligarh
1       Ansh   23      Delhi
2  Priyanshu   21  Ghaziabad
<class 'pandas.core.frame.DataFrame'>

In [8]:
import numpy as np
np.array(df)

array([['Abhishek', 22, 'Aligarh'],
       ['Ansh', 23, 'Delhi'],
       ['Priyanshu', 21, 'Ghaziabad']], dtype=object)

In [9]:
dp = pd.read_csv('suicide_data.csv')
dp.head(5)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [10]:
#Indexing the column by column name
df['Name']

0     Abhishek
1         Ansh
2    Priyanshu
Name: Name, dtype: object

In [11]:
df.loc[0]

Name    Abhishek
Age           22
City     Aligarh
Name: 0, dtype: object

In [12]:
df.iloc[1]

Name     Ansh
Age        23
City    Delhi
Name: 1, dtype: object

In [13]:
df

        Name  Age       City
0   Abhishek   22    Aligarh
1       Ansh   23      Delhi
2  Priyanshu   21  Ghaziabad

In [25]:
# Display the data types of each column
print("Data types:\n", dp.dtypes)

# Describe the DataFrame
print("Stastical summary:\n", dp.describe())

# Group by a column and perform an aggregation
grouped = dp.groupby('country')['year'].mean()
print("Mean value by category:\n", grouped)

Data types:
 country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object
Stastical summary:
                year   suicides_no    population  suicides/100k pop  \
count  27820.000000  27820.000000  2.782000e+04       27820.000000
mean    2001.258375    242.574407  1.844794e+06          12.816097
std        8.469055    902.047917  3.911779e+06          18.961511
min     1985.000000      0.000000  2.780000e+02           0.000000
25%     1995.000000      3.000000  9.749850e+04           0.920000
50%     2002.000000     25.000000  4.301500e+05           5.990000
75%     2008.000000    131.000000  1.486143e+06          16.620000
max     2016.000000  22338.000000  4.380521e+07         224.970000

       HDI for year  gdp_per_capita ($)
count   8364.000000        27820.000000
mean       0.776601        16866.464414
std        0.093367        18887.576472
min        0.483000          251.000000
25%        0.713000         3447.000000
50%        0.779000         9372.000000
75%        0.855000        24874.000000
max        0.944000       126352.000000
Mean value by category:
 country
Albania                 1999.227273
Antigua and Barbuda     1999.481481
Argentina               2000.000000
Armenia                 2002.791946
Aruba                   2004.285714
                           ...
United Arab Emirates    2007.500000
United Kingdom          2000.000000
United States           2000.000000
Uruguay                 2000.214286
Uzbekistan              2001.318182
Name: year, Length: 101, dtype: float64

In [19]:
dp.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
dp.describe()
#statistical analysis

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [24]:
dp.groupby('country')['year'].mean()

country
Albania                 1999.227273
Antigua and Barbuda     1999.481481
Argentina               2000.000000
Armenia                 2002.791946
Aruba                   2004.285714
                           ...
United Arab Emirates    2007.500000
United Kingdom          2000.000000
United States           2000.000000
Uruguay                 2000.214286
Uzbekistan              2001.318182
Name: year, Length: 101, dtype: float64

In [22]:
print(dp.columns)

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')